--- drivers/input/touchscreen/Kconfig
+++ drivers/input/touchscreen/Kconfig
@@ -1100,4 +1100,6 @@
                   RK29 ATMEL_MXT1386 touch debug
 comment "zet62xx support" 
 source  "drivers/input/touchscreen/zet62xx/Kconfig"  
+comment "AW5X0X support" 
+source  "drivers/input/touchscreen/aw5x0x/Kconfig"
 endif
